/*---------- RESET ----------*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}article,aside,footer,header,hgroup,nav,section,figure,figcaption{display:block;margin:0}*{-webkit-tap-highlight-color:rgba(0,0,0,0)}input,textarea{-webkit-border-radius:0;border-radius:0}input{-webkit-appearance:none}body{-webkit-text-size-adjust:none}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}::-moz-focus-inner{border:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}*,*:after,*:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
::-moz-selection {background:#82bc00;color:#fff;}
::selection {background:#82bc00;color:#fff;}


/*---------- STOCK TICKER ----------*/
#ticker_wrapper {background-color:#DFE6EC;height:50px;overflow:hidden;}
#ticker_wrapper h3{font-family:Arial, sans-serif;text-transform:uppercase;
	position:relative;line-height:50px;margin:0;color:#fff;width:190px;font-size:18px;float:left;
	padding-left:50px;background-color:#86BC43;
}
#ticker_wrapper .tickercontainer{height:50px !important;margin:0 0 0 190px;color:#8092A9;}
#ticker_wrapper .tickercontainer .mask{position:relative;overflow:hidden;}
#ticker_wrapper #stocks-ticker li{font-family:Arial, sans-serif;font-size:14px;
	line-height:50px !important;font-weight:normal;padding:0 20px !important;
}
#ticker_wrapper #stocks-ticker li:after{padding:0 5px;font-size:20px;position:relative;top:2px;}
#ticker_wrapper #stocks-ticker li.gain:after{content:"\25B4";color:#4BAD4C;}
#ticker_wrapper #stocks-ticker li.lose:after{content:"\25BE";color:#BA2429;}
#ticker_wrapper #stocks-ticker li.gain .perc{color:#4BAD4C;}
#ticker_wrapper #stocks-ticker li.lose .perc{color:#BA2429;}
#ticker_wrapper #stocks-ticker li .name{color:#32434D;}

